<div class="center">
	<h1>Share photos and gifs with your organization.</h1>
	<p class="lead">Sign in with your work email to see the office gif river of shit.</p>
	<p>
		<%= link_to "Register" , new_user_registration_path, class: "btn btn-primary btn-lg" %>
		<%= link_to "Sign in" , new_user_session_path, class: "btn btn-default btn-lg" %>
	</p>
</div>