// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins {
	margin: 0 auto;
}

<<<<<<< HEAD
<<<<<<< HEAD
.box img {
	width: 90%;
}

.box-show {
	width:514px;
	margin: 0 auto;
}

.box-show img {
	width:100%;
=======
=======
>>>>>>> 6142facd7a17481962d63d27463eab66ee997d35
.box {
	margin: 5px; 
	width:514px; 
}

.box img {
	width: 100%;
<<<<<<< HEAD
>>>>>>> 6142facd7a17481962d63d27463eab66ee997d35
=======
>>>>>>> 6142facd7a17481962d63d27463eab66ee997d35
}

.actions {
	color:#DBDBDB;
}

<<<<<<< HEAD
<<<<<<< HEAD

=======
.actions:hover {
	text-decoration:none;
}
>>>>>>> 6142facd7a17481962d63d27463eab66ee997d35
=======
.actions:hover {
	text-decoration:none;
}
>>>>>>> 6142facd7a17481962d63d27463eab66ee997d35
